// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
  border-radius: $rounded-pill;
  font-size: $font-size-small;
}

.hex.dark {
  .btn {
    background-color: $white;
    color: $dark;
  }
}