$hex-height-small: 550px;
$hex-height-small-counter: 661px;
$hex-height-mid: 776px;
$hex-height-large: 1303px;

.hex-small {
  height: $hex-height-small;
  
  &.hex-counter {
    height: $hex-height-small-counter;
  }

  .hex {
    position: absolute;
    padding: 0% 8%;
    
    &.left {
      left: 0;
    }

    &.right {
      margin-top: 0 - $hex-height-large + $hex-height-large/4 - $hex-height-small-counter/4;
      left: 0;
      margin-left: 0.5rem;
    }
  }
}

.hex-mid {
  height: $hex-height-mid;
  padding: 0% 8%;
  margin-top: 0 - $hex-height-mid / 4 + 10px;

  .hex {
    padding: 0% 4%;
  }
}

.hex-large {
  height: $hex-height-large;
  padding: 0% 8%;
  margin-top: 0 - $hex-height-large / 4 + 10px;

  .hex {
    margin-left: 0 - map-get($container-max-widths , xl);
    padding: 0% 10%;
  }
}

.hex {
  -webkit-clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  
  p {
    margin-bottom: 1.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &.dark {
    background-color: $dark;
    color: $white !important;
  }
  &.white {
    background-color: $white;
    color: $dark !important;
  }
}