.hex-small {
  height: $hex-height-small;
  
  &.hex-counter {
    height: $hex-height-small-counter;
  }

  .hex {
    position: absolute;
    padding: 0% 8%;
    
    &.left {
      left: 0;
    }

    &.right {
      margin-top: 0 - $hex-height-large + $hex-height-large/4 - $hex-height-small-counter/4;
      left: 0;
      margin-left: 0.5rem;

      @include media-breakpoint-down(sm) {
        left: auto;
      }
    }
  }
}

.hex-mid {
  height: $hex-height-mid;
  padding: 0% 8%;
  // margin-top: 0 - $hex-height-mid / 4 + 10px;

  .hex {
    padding: 0% 3.7%;
  }
}

.hex-large {
  height: $hex-height-large;
  padding: 0% 8%;

  .hex {
    margin-left: 0 - map-get($container-max-widths , xl) + 10;
    padding: 0% 10%;

    &.right {
      position: relative;
      margin: auto;
      margin-left: 0.5rem;
    }
  }

  &:has(.right) {
    padding: 0;
  }
}

.hex {
  -webkit-clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  opacity: .9;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px) !important;

  p {
    margin-bottom: 1.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }

  button {
    margin-top: 36px;
  }

  &.dark {
    background-color: $dark;
    // background-color: $dark;
    color: $white !important;
  }
  &.white {
    background-color: rgba($white, .5);
    color: $dark !important;
  }
}
