// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

body {
  font-family: $font-family-default !important;

  main {
    overflow-x: hidden;
    position: relative !important;
    z-index: 999;
    top: 0;  
  }
}
