// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

#hero {
  z-index: 1;
  top: 0;
  width: 100vw;
  height: 100vh;

  video {
    position: absolute;
  }

  .overlay {
    background-color: #000000;
    opacity: 40%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
}

#about {
  overflow: hidden;
  .container {
    position: relative;
    z-index: 999;
  }

  .container-two {
    position: relative;
    z-index: 9;
    height: $hex-height-large * 0.75 -
      ($hex-height-large * 0.25 - $hex-height-mid * 0.25) + 10px;
  }
}

#about-copy {
  @include media-breakpoint-up(lg) {
    margin-top: 0 - $hex-height-mid / 4 + 10px;
  }

  @include media-breakpoint-down(lg) {
    margin-top: -130px;
  }

  @include media-breakpoint-down(md) {
    margin-top: -70px;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 0;
  }
}

#benefits-section,
#get-started-section,
#get-started-form {
  margin-top: 0 - $hex-height-large / 4 + 10px;
}

#bid-request {
  margin-top: 0 - $hex-height-large * 0.75 + 10px;
}

#services {
  height: $hex-height-large;
  margin-top: 0 - $hex-height-large / 4 + 10px;
  
  @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) {
    .hex-small {

      .hex {
        .row {
          padding: 0 20% 0 0 !important;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    .hex-small {

      .hex {
        left: auto;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    height: auto;
    margin-top: -90px;

    .hex-large {
      height: 1000px;
      
      .hex {
        margin-left: -350px;
      }
    }

    .hex-small {

      .hex {
        margin-top: -90px;
      }
    }
  }
}

#benefits-section {
  @include media-breakpoint-down(sm) {
    margin-top: -80px;
  }
}

#get-started-section {
  @include media-breakpoint-down(sm) {
    height: auto;
    margin-top: -90px;

    .hex-large {
      height: 1000px;

      .hex {
        margin-left: -350px;
      }
    }
  }
}

#bid-request {
  @include media-breakpoint-down(sm) {
    margin-top: -200px;
  }
}
