<section id="about" class="mt-4 mb-5 min-vh-100">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-6 d-flex flex-column align-items-center background-dark col-hex hex-small">
        <div class="hex dark left">
          <p>
            We’ve now made it easier than ever to connect to our 300+ experienced artists and supervisors.
          </p>
          <p>
            Our network has been tried and tested over the last 20 years by some of the leading studios, production companies and agencies alike.
          </p>
          <p>
            Delivering thousands of Visual Effects and Design projects, for TV, advertising, episodic and experiential.
          </p>
        </div>
      </div>

      <div class="d-xs-none col-md-6 d-flex flex-column align-items-center"></div>
    </div>
  </div>

  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-12 d-flex flex-column align-items-center background-dark col-hex hex-mid">
        <div class="hex white">
          <h2>
            About Hive FX
          </h2>
          <p>
            Hivefx is a Visual Effects global collective known for Producing High Quality VFX work for Feature Films, Episodic, Design, TV,  and Experiential Advertising.
          </p>
          <p>
            Our collective has been built over the last 20 years, establishing strong, reliable and trusted partners that deliver exceptional work for our clients, time and time again. HiveFX is in essence a formalisation of this collective, giving our clients a single point of contact. Not only that, we have streamlined our collectives’ pipeline and are able to run projects across multiple studios seamlessly.
          </p>

          <button class="btn btn-light">Bid Request</button>
        </div>
      </div>

      <div class="d-xs-none col-md-6 d-flex flex-column align-items-center"></div>
    </div>
  </div>

  <div class="container container-two">
    <div class="row d-flex justify-content-end align-items-center">
      <div class="col-12 col-md-12 d-flex flex-column align-items-center background-dark col-hex hex-large">
        <div class="hex white left">
          <div class="col-6 offset-6 text-left">
            <h2>
              Hive FX Services
            </h2>
            <p>
              Our visual effects services include; Photorealistic CG Environments built from the ground up, to Expansive Blue/Green Screen Set Extension,  Realtime 360 environments for large LED volumes and Virtual Production sets, 3d Modelling, Retouch-Prep, Rotoscopy, Matte Paint, Compositing, Animation, Matchmove, and Rotomation. 
            </p>
            <p>
              We work with projects of all sizes and offer flexible solutions tailored to your specific needs. This includes providing a team of artists to seamlessly integrate into your existing team and pipeline. Alternatively, we can take on entire shots or elements that are more suitable for outsourcing.
            </p>
            <p>
              Data security and privacy is paramount to how we operate our business. Our collective can provide secure network and data management approved by The Trusted Partner Network.
            </p>
            <p>
              Our collective is made up of 5 studios across EMEA and APAC.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 d-flex flex-column align-items-center background-dark col-hex hex-small hex-counter">
        <div class="hex dark right">
          {{> statistics}}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-12 d-flex flex-column align-items-center background-dark col-hex hex-mid">
        <div class="hex white p-l-35 p-r-35">
          <h2>
            Why Hive FX
          </h2>
          <p>
            The benefits of using HIVEFX are;
          </p>
          <p>
            We challenge any similar outsourcing model to compete with our rates. The reason being is we don't have any overheads to account for and therefore do not mark up any of our artists' rates. 
          </p>
          <p>
            Our model is simple. We have worked at the highest level in the industry over the last 20 years and have established a very strong network of studios and artists. We represent them and are in turn paid a small commission for the introduction.
          </p>
          <p>
            We offer our clients the ability to rapidly scale teams to meet demanding schedules while maintaining competitive rates, enabling clients to achieve their desired margins and often help them complete projects well under budget.
          </p>
          <p>
            With our established project management setup and tools, your teams can seamlessly collaborate with ours, ensuring projects stay on schedule and within budget.
          </p>

          <button class="btn btn-light">Bid Request</button>
        </div>
      </div>

      <div class="d-xs-none col-md-6 d-flex flex-column align-items-center"></div>
    </div>
  </div>


</section>