<section id="benefits-section">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div
        class="col-12 col-md-12 d-flex flex-column align-items-center background-dark col-hex hex-mid"
      >
        <div id="benefits" class="hex white p-l-35 p-r-35">
          <div class="row">
            <div class="col-8 offset-2 col-sm-10 offset-sm-1 col-md-12 offset-md-0">
              <h2>Why Hive FX</h2>
              <p>The benefits of using HIVEFX are:</p>
              <p>
                We challenge any similar outsourcing model to compete with our
                rates. The reason being is we don't have any overheads to account
                for and therefore do not mark up any of our artists' rates. 
              </p>
              <p>
                Our model is simple. We have worked at the highest level in the
                industry over the last 20 years and have established a very strong
                network of studios and artists. We represent them and are in turn
                paid a small commission for the introduction.
              </p>
              <p>
                We offer our clients the ability to rapidly scale teams to meet
                demanding schedules while maintaining competitive rates, enabling
                clients to achieve their desired margins and often help them
                complete projects well under budget.
              </p>
              <p>
                With our established project management setup and tools, your teams
                can seamlessly collaborate with ours, ensuring projects stay on
                schedule and within budget.
              </p>

              <a class="btn btn-light" href="#bid" role="button">Bid Request</a>
            </div>
          </div>
        </div>
      </div>

      <div
        class="d-xs-none col-md-6 d-flex flex-column align-items-center"
      ></div>
    </div>
  </div>
</section>
