<section id="bid-request" >
  <div class="container">
    <div class="row d-flex justify-content-end align-items-center">
      <div
        class="col-12 col-offetmd-6 col-md-6 d-flex flex-column align-items-center background-dark col-hex hex-large"
      >
        <div class="hex dark right">
          <div class="container-fluid">
            <div class="row">
              <div class="col-4 col-sm-6 col-md-4 col-lg-4 col-xl-4 text-left">
                <h2>Bid request</h2>

                {{> form}}
              </div>

              <div class="d-xs-none col-md-6 text-left"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
