<footer class="footer position-relative py-2 py-sm-3 py-md-4 text-center">
    <div class="container">
        <div class="row">
          <div class="col-sm-6 col-lg-4">
            <div class="row align-content-center h-100">
              <div class="col-6 p-1">
                <a href="mailto:hello@hivefx.io">info@hivefx.io</a>
              </div>

              <!--div class="col-6 p-1">
                <a href="tel:0207 999 999">0207 999 999</a>
              </div-->
            </div>
          </div>

          <div class="d-none d-lg-block col-lg-4"></div>

          <div class="col-sm-6 col-lg-4">
            <div class="row align-content-center h-100">
              <div class="col-12 p-1">
                <p>Copyright 2023. All rights reserved.</p>
              </div>
            </div>
          </div>
        </div>
    </div>
</footer>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Playfair+Display:400,500,700&display=swap">
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script> -->
<!-- build:js -->
<script src="{{root}}assets/vendor/js/jquery.js"></script>
<script src="{{root}}assets/vendor/js/popper.js"></script>
<script src="{{root}}assets/vendor/js/bootstrap.js"></script>
<script src="{{root}}assets/js/util/autoPadding.js"></script>
<script src="{{root}}assets/js/util/crossPlatform.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js" integrity="sha512-LsnSViqQyaXpD4mBBdRYeP6sRwJiJveh2ZIbW41EBrNmKxgr/LFZIiWT6yr+nycvhvauz8c2nYMhrP80YhG7Cw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{root}}assets/js/main.js"></script>
<!-- endbuild -->
