<footer class="footer pt-5 pb-5 text-center">
    <div class="container">
        <p>© <span class="credits font-weight-bold">
                <a href="https://github.com/johndavemanuel/bootstrap-gulp-starter-template" rel="noopener" target="_blank" class="text-dark">Bootstrap Gulp Starter Template</a>
            </span>
        </p>
    </div>
</footer>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Playfair+Display:400,500,700&display=swap">
<!-- build:js -->
<script src="{{root}}assets/vendor/js/jquery.js"></script>
<script src="{{root}}assets/vendor/js/popper.js"></script>
<script src="{{root}}assets/vendor/js/bootstrap.js"></script>
<script src="{{root}}assets/js/util/autoPadding.js"></script>
<script src="{{root}}assets/js/util/crossPlatform.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script> -->
<script src="{{root}}assets/js/main.js"></script>
<!-- endbuild -->
