<section id="get-started-section">
  <div class="container">
    <div class="row d-flex justify-content-end align-items-center">
      <div
        class="col-12 col-md-12 d-flex flex-column align-items-center background-dark col-hex hex-large"
      >
        <div id="get-started" class="hex white left">
          <div class="col-6 offset-6 col-sm-7 offset-sm-5 col-md-4 offset-md-8 col-lg-5 offset-lg-7 col-xl-6 offset-xl-6 text-left">
            <h2>Get started</h2>
            <p>
              The process is: you send us the brief and we will find the right
              teams to deliver the project for you. We will respond with our bid
              within 24 hours, but are happy to rally if the request is timely! 
            </p>
            <p>
              Our leadership have worked at the most prestigious studios and
              therefore understand how to resource the best teams for the job. 
            </p>
            <p>
              We will oversee the project from bidding all the way through to
              delivery. We will be your escalation point if needed and with our
              50 years of combined experience as Creative Director, VFX
              Supervisor and Executive Producer we will ensure the project runs
              smoothly and on budget.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
