<section id="services">
  <div class="container container-two">
    <div class="row d-flex justify-content-md-end align-items-md-center">
      <div
        class="col-12 col-md-12 d-flex flex-column align-items-center background-dark col-hex hex-large"
      >
        <div class="hex white left">
          <div class="col-6 offset-6 col-sm-7 offset-sm-5 col-md-4 offset-md-8 col-lg-5 offset-lg-7 col-xl-6 offset-xl-6 text-left">
            <h2>Hive FX Services</h2>
            <p>
              Our visual effects services include; Photorealistic CG
              Environments built from the ground up, to Expansive Blue/Green
              Screen Set Extension,  Realtime 360 environments for large LED
              volumes and Virtual Production sets, 3d Modelling, Retouch-Prep,
              Rotoscopy, Matte Paint, Compositing, Animation, Matchmove, and
              Rotomation. 
            </p>
            <p>
              We work with projects of all sizes and offer flexible solutions
              tailored to your specific needs. This includes providing a team of
              artists to seamlessly integrate into your existing team and
              pipeline. Alternatively, we can take on entire shots or elements
              that are more suitable for outsourcing.
            </p>
            <p>
              Data security and privacy is paramount to how we operate our
              business. Our collective can provide secure network and data
              management approved by The Trusted Partner Network.
            </p>
            <p>Our collective is made up of 5 studios across EMEA and APAC.</p>
          </div>
        </div>
      </div>

      <div
        class="col-12 col-md-6 d-flex flex-column align-items-center background-dark col-hex hex-small hex-counter"
      >
        <div class="hex dark right">{{> statistics}}</div>
      </div>
    </div>
  </div>
</section>
