<div id="counter" class="container">
  <div class="row">
    <div class="col-3 counter-txt">
      <span class="counter-value" data-count="8">0</span>Producers
    </div>

    <div class="col-3 counter-txt">
      <span class="counter-value" data-count="5">0</span>Head of Studios
    </div>

    <div class="col-3 counter-txt">
      <span class="counter-value" data-count="3">0</span>Creative Directors
    </div>

    <div class="col-3 counter-txt">
      <span class="counter-value" data-count="3">0</span>Head of CG / Tech Dir.
    </div>
  </div>

  <div class="row">
    <div class="col-3 counter-txt">
      <span class="counter-value" data-count="55">0</span>Matchmove
    </div>

    <div class="col-3 counter-txt">
      <span class="counter-value" data-count="45">0</span>Prep /<br />Paint
    </div>

    <div class="col-3 counter-txt">
      <span class="counter-value" data-count="95">0</span>Roto
    </div>

    <div class="col-3 counter-txt">
      <span class="counter-value" data-count="8">0</span>VFX<br />Supervisors
    </div>
  </div>

  <div class="row">
    <div class="col-3 counter-txt">
      <span class="counter-value" data-count="15">0</span>3D Artists
    </div>

    <div class="col-3 counter-txt">
      <span class="counter-value" data-count="3">0</span>Riggers
    </div>

    <div class="col-3 counter-txt">
      <span class="counter-value" data-count="8">0</span>RT Artists
    </div>

    <div class="col-3 counter-txt">
      <span class="counter-value" data-count="25">0</span>Comp
    </div>
  </div>
</div>
