// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
  background-color: $white;
  margin-bottom: $navbar-margin-top;
  z-index: 999;
  h4 {
    margin: 0;
    text-transform: none;
  }
}
