// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

$navbar-margin-top: $spacer * 1.5;

nav {
  margin-top: $navbar-margin-top;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;

  .navbar-brand {
    padding: 0.5rem 1.25rem;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .navbar-toggler {
    border: none;
  }

  .navbar-collapse {
    transition: right 500ms ease-in-out;

    .navbar-nav {
      .nav-item {
        margin-right: 1rem;
        transition: ease-in-out 0.3s;

        .nav-link {
          border-radius: 50rem;
          padding: 0.5rem 1rem !important;
          font-size: $h3-font-size - $h6-font-size;
          color: $white;
          transition: 0.3s;

          &:hover {
            color: $white;
            background-color: $dark;
          }
        }
      }
    }
    
    &.show {
      right: 0 !important;
    }

    .close-nav {
      top: 1rem;
      right: 1rem;
      border: none;
    }

    @include media-breakpoint-down(md) {
      display: block !important;
      position: fixed;
      height: 100vh;
      width: 30vw;
      right: -30vw;
      top: 0;
      background-color: $dark;
      color: $white;
      margin-top:  0 - $navbar-margin-top;
      padding: 3rem 1rem;
      text-align: center;
    }

    @include media-breakpoint-down(sm) {
      width: 50vw;
      right: -50vw;
    }

    .navbar-nav {
      @include media-breakpoint-down(md) {
        align-items: center;
      }

      .nav-item {
        @include media-breakpoint-down(md) {
          margin: 0 0 1rem;
        }
      }
    }
  }
}

.dropdown-item {
  font-weight: 700;
}
